
import(ghyp)
import(MASS)
importFrom("methods", "new")
importFrom("stats", "cov.wt", "dist", "kmeans", "mahalanobis", "rnorm",
             "runif", "var", "weighted.mean","cutree","hclust")
importFrom("mvtnorm","dmvnorm","rmvnorm")
importFrom("cluster","pam")
importFrom("mixture","gpcm")
importFrom("numDeriv","grad")
importFrom("Bessel","BesselK","besselK.nuAsym")
importFrom("e1071","classAgreement")
importFrom("graphics", "contour", "points")
export(MCGHD, MGHD, MGHFA, MSGHD,cMSGHD, DA, ARI, contourpl,plot.MixGHD,summary.MixGHD,dCGHD,dMSGHD,dGHD,rGHD,rCGHD,rMSGHD)
exportMethods(plot, summary,predict,coef)
exportClasses(MixGHD)
S3method(plot, MixGHD)
S3method(summary, MixGHD)
S3method(predict, MixGHD)
S3method(coef, MixGHD)