useDynLib(MixGHD,EMstepFA)
useDynLib(MixGHD,EMstep)
useDynLib(MixGHD,EMstepSr)
useDynLib(MixGHD,EMstepMS)
useDynLib(MixGHD,EMstepGH)
import(Bessel)
import(stats)
import(mvtnorm)
import(ghyp)
import(numDeriv)
import(cluster)
import(MASS)
import(e1071)
import(mixture)
importFrom("graphics", "contour", "points")
export(MCGHD, MGHD, MGHFA, MSGHD,cMSGHD, DA, ARI, contourpl)
