useDynLib(MixGHD,EMstepFA)
useDynLib(MixGHD,EMstep)
useDynLib(MixGHD,EMstepSr)
useDynLib(MixGHD,EMstepMS)
useDynLib(MixGHD,EMstepGH)
import(Bessel)
import(stats)
import(mvtnorm)
import(ghyp)
import(numDeriv)
import(cluster)
import(MASS)
import(e1071)
import(mixture)
import(methods)
importFrom("graphics", "contour", "points")
export(MCGHD, MGHD, MGHFA, MSGHD,cMSGHD, DA, ARI, contourpl,plot.MixGHD,summary.MixGHD,dCGHD,dMSGHD,dGHD,rGHD,rCGHD,rMSGHD,predict,coef)
exportMethods(plot, summary)
exportClasses(MixGHD)
S3method(plot, MixGHD)
S3method(summary, MixGHD)